<nav class="navbar navbar-expand-sm navbar-dark bg-primary px-4">
    <a class="navbar-brand" href="#">Danny Rivera</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mt-lg-0" style="margin-left: auto;">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/cuadrado-medio" routerLinkActive="router-link-active" >Cuadrado Medio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/productos-medios" routerLinkActive="router-link-active" >Productos Medios</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/multiplicador-constante" routerLinkActive="router-link-active" >Multiplicador Constante</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/congruencial-lineal" routerLinkActive="router-link-active" >Congruencial Lineal</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/congruencial-multiplicativo" routerLinkActive="router-link-active" >Congruencial Multiplicativo</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/congruencial-aditivo" routerLinkActive="router-link-active" >Congruencial Aditivo</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/no-lineal-cuadratico" routerLinkActive="router-link-active" >No Lineal Cuadratico</a>
            </li>
            
        </ul>
    </div>
</nav>