<div class="container p-3">
    <h3 class="text-center">No Lineal Cuadratico</h3>
    <form #form="ngForm"  (ngSubmit)="onSubmit(form)" class="my-4">
        <div class="form-group row">
            <label for="x0" class="col-sm-2 col-form-label">X0</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="x0" ngModel >
            </div>
        </div>
        <div class="form-group row">
            <label for="m" class="col-sm-2 col-form-label">M</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="m" ngModel >
            </div>
        </div>
        <div class="form-group row">
            <label for="a" class="col-sm-2 col-form-label">A</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="a" ngModel >
            </div>
        </div>
        <div class="form-group row">
            <label for="b" class="col-sm-2 col-form-label">B</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="b" ngModel >
            </div>
        </div>
        <div class="form-group row">
            <label for="c" class="col-sm-2 col-form-label">C</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="c" ngModel >
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary mt-3">Calcular</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">X</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of x; index as i">
            <th scope="row">{{i}}</th>
            <td>{{val}}</td>
          </tr>
          <tr>
         </tbody>
      </table>
</div>